// Fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Roboto', sans-serif;

// Colors
$dark: #333333;
$purple: #4C40F7;
$orange: #FF561D;
$accent: #4F4F4F;
$parag: #828282;
$white: #fff;
// $muted: #e7e7e7;
$bg-body: radial-gradient(114.37% 114.53%, #FFF 0%, rgba(228, 231, 233, 0.50) 100%);

// Media
$tablet: 976px;